/* globals */

body {
	background-color: #3377ff;
}

a {

}

.link {

}

.header {

}

#menubar {
	display: flex;
}

#navigationlinksdiv {
	margin-top: 10px;
	background-color: #f2f2f2;
	padding: 5px;
	border: 2px solid black;
	border-radius: 8px;
}

#navigationlinksheader {
	margin-top: 0px;
}

#googlemapdiv {
	width: 100%;
	border; 2px solid black;
}

#googlemap {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

@media screen and (max-width: 499px) {

}

