/* globals */

body {
	background-color: #3377ff;
}

a {

}

.link {

}

.header {

}

.outerdiv {
	margin-right: 5px;
	margin-left: 5px;
}

#menubar {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.locationselect {

}

#imgtest {
	width: 200px;
	height: 200px;
}

#navigationlinksdiv {
	margin-top: 10px;
	background-color: #f2f2f2;
	padding: 5px;
	border: 2px solid black;
	border-radius: 8px;
}

#navigationlinksheader {
	margin-top: 0px;
}

#googlemapdiv {
	left: 50%;
	padding: 15px;
	max-height: 515px;
	max-width: 515px;
	margin: auto;
}

#googlemap {
	height: 100%;
	width: 100%;
	max-height: 500px;
	border: 1px solid black;
}

@media screen and (max-width: 499px) {

}

