/* globals */

body {
	background-color: #3377ff;
}

a {

}

.link {

}

.header {

}

.outerdiv {
	margin-right: 5px;
	margin-left: 5px;
}

#menubar {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.locationselect {

}

#imgtest {
	width: 200px;
	height: 200px;
}

#navigationlinksdiv {
	margin-top: 10px;
	background-color: #f2f2f2;
	padding: 5px;
	border: 1px solid black;
	border-radius: 8px;
	font-size: .8em;
}

#navigationlinksheader {
	margin-top: 0px;
}

.geminfowindowdiv {

	width: 300px;
	overflow: scroll;
}

.geminfowindowdiv {

	text-align: left;
}

.geminfowindowtextdiv {

}

.geminfowindowimgdiv {

}

.geminfowindowimg {

	max-width: 150px;
	max-height: 150px;
}

.geminfowindowheader {

	font-weight: bold;
}

#googlemapdiv {
	left: 50%;
	padding: 15px;
	max-height: 515px;
	max-width: 515px;
	margin: auto;
}

#googlemap {
	height: 100%;
	width: 100%;
	max-height: 500px;
	border: 1px solid black;
}

#infodiv {
	max-width: 700px;
	border: 1px solid black;
	border-radius: 10px;
	background-color: #cccccc;
	margin: auto;
}

#selectedlocationdiv {
	display: flex;
	flex-wrap: wrap;
	padding-right: 2%;
	padding-left: 2%;
	font-family: "Garamond";
	justify-content: center;
}

#selectedlocationheader {
	text-decoration: underline;
	text-align: center;
	font-weight: bold;
	margin-top: 5px;
	font-size: 1em;
	width: 100%;
}

.wikipediacontainer {
	margin-top: 5px;
	margin-right: 1%;
	margin-left: 1%;
	margin-bottom: 5px;
	font-size: .8em;
	height: 93px;
	width: 46%;
	background: white;
	border: 1px black solid;
}

#wikipediaheader {
	font-weight: bold;
	text-align: center;
}

#wikilinkscontainer {

	margin-top: 3px;
	max-height: 75px;
	overflow: scroll;	
}

.nytimescontainer {
	margin-top: 5px;
	margin-right: 1%;
	margin-left: 1%;
	margin-bottom: 5px;
	font-size: .8em;
	height: 93px;
	width: 46%;
	background: white;
	border: 1px black solid;
}

#nytimesheader {
	font-weight: bold;
	text-align: center;
}

#nytimesarticlescontainer {
	margin-top: 3px;
	max-height: 75px;
	overflow: scroll;	
}

#wikipedialinks {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-right: 6px;
	padding-left: 20px;
}

#nytimesarticles {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 5px;
	padding-right: 6px;
	padding-left: 20px;
}

.wikipediali {
	margin-top: 4px;
	margin-bottom: 4px;
}

.nytimesli {
	margin-top: 4px;
	margin-bottom: 4px;
}

.infolink {
	text-decoration: none;
}

.infolink:hover {
	text-decoration: underline;
}

@media screen and (max-width: 499px) {

}

.displaynone {
	display: none !important;
}

