{% extends "base.html" %}

{% block head %}

	<title>WaterGem - Find the Closest Cheap and Clean Drinking Water</title>
	<link rel="stylesheet" href="stylesheets/home.css">

{% endblock %}


{% block pageContent %}

	<div class="headerdiv outerdiv">
		<h1 id="headerlogo">WaterGem</h1>
		<p id="headerlogophrase">Find the nearest cheap and clean drinking water</p>
	</div>

	<!-- menu bar with filtering/selection -->
	<div class="outerdiv" id="menubar">
		<div class="locationselect" id="countrydiv">
			<select id="countryselect" data-bind="options: optionCountries, optionsCaption: '-Select Country-', optionsText: 'name', value: selectedCountry"></select>
		</div>
		<div class="locationselect" id="citydiv">
			<select id="cityselect" data-bind="options: optionCities, optionsCaption: '-Select City-', optionsText: 'name', value: selectedCity"></select>
		</div>
		<div class="locationselect" id="neighborhooddiv">
			<select id="neighborhoodselect" data-bind="options: optionNeighborhoods, optionsCaption: '-Select Neighborhood-', optionsText: 'name', value: selectedNeighborhood"></select>
		</div>
	</div>
	<!-- end filtering/seletion -->

	<!-- google map -->
	<div class="outerdiv" id="googlemapdiv">
    	<div id="googlemap">
    	</div>
	</div>
	<!-- end google map -->

	<!-- selected info section -->
	<div id="infodiv">
		<div id="selectedlocationdiv">
			<h4>Selected Location Info</h4>
		</div>
		<div id="selectedgemdiv">
			<h4>Selected Gem Info</h4>
			<div id="selectedimgdiv">
				<img id="selectedgemimg" src="" alt="[pic of water station]" data-bind="src: selectedGemPic">
			</div>
		</div>
	</div>
	<!-- end selected info section -->

{% endblock %}


{% block scripts %}

	<script src="bower_components/jquery.js"></script>
	<script src="bower_components/knockout.js"></script>		
	<script src="js/app.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBz6Og92aUD75aW9vxng8igWUKrjCJXT-U&callback=initMap" async defer></script>

{% endblock %}
