{% extends "base.html" %}

{% block head %}

	<title>WaterGem - Find the Closest Cheap and Clean Drinking Water</title>
	<link rel="stylesheet" href="stylesheets/home.css">

{% endblock %}


{% block pageContent %}

	<div class="headerdiv outerdiv">
		<h1 id="headerlogo">WaterGem</h1>
		<p id="headerlogophrase">Find the nearest cheap and clean drinking water</p>
	</div>

	<!-- menu bar with filtering/selection -->
	<div class="outerdiv" id="menubar">
		<div class="locationselect" id="countrydiv">
			<select id="countryselect" data-bind="options: optionCountries, optionsCaption: '-Select Country-', optionsText: 'name', value: selectedCountry"></select>
		</div>
		<div class="locationselect" id="citydiv">
			<select id="cityselect" data-bind="options: optionCities, optionsCaption: '-Select City-', optionsText: 'name', value: selectedCity"></select>
		</div>
		<div class="locationselect" id="neighborhooddiv">
			<select id="neighborhoodselect" data-bind="options: optionNeighborhoods, optionsCaption: '-Select Neighborhood-', optionsText: 'name', value: selectedNeighborhood"></select>
		</div>
	</div>
	<!-- end filtering/seletion -->

	<!-- google map -->
	<div class="outerdiv" id="googlemapdiv">
    	<div id="googlemap">
    	</div>
	</div>
	<!-- end google map -->

	<!-- info window section -->
	<div class="displaynone" id="geminfowindowselector">

		<div class="geminfowindow" data-bind="with: selectedGem">

			<span class="geminfowindowheader" data-bind="text: name"></span>

			<div class="geminfowindowtextdiv">
				<span>Area: <span data-bind="text: neighborhoodName"></span></span>
				<br>
	    		<!-- ko if: uv -->
				<span>Labeled UV</span>
				<br>
				<!-- /ko -->
				<!-- ko if: ozone -->
				<span>Labeled ozone</span>
				<br>
				<!-- /ko -->
				<span>Notes: <span data-bind="text: notes"></span></span>
				<!-- ko if: !picture -->
				<span>No picture yet.</span>	
				<!-- /ko -->
			</div>
			<div class="geminfowindowimgdiv">
	    		<!-- ko if: picture -->
				<img class="geminfowindowimg" data-bind="attr: {src: pictureSRC}" alt="[water station pic]">
				<!-- /ko -->		
			</div>

		</div>

	</div>

	<!-- selected info section -->
	<div id="infodiv">
		<div id="selectedlocationdiv">

			<span id="selectedlocationheader">Selected Location Info</span>

		    <div class="wikipediacontainer"> 
		        <div id="wikipediaheader">Wikipedia</div>
		        <div id="wikilinkscontainer">
		        	<ul id="wikipedialinks" data-bind="foreach: selectedLocationWikiInfo">
		        		<li class="wikipediali"><a class="infolink" data-bind="text: linkText, attr: {href: linkRef}"></a>
		        		</li>
		        	</ul>
		        </div>
		    </div>

		    <div class="nytimescontainer">
		        <div id="nytimesheader">New York Times</div>
		        <div id="nytimesarticlescontainer">
		        	<ul id="nytimesarticles" data-bind="foreach: selectedLocationNYTimesInfo">
		        		<li class="nytimesli"><a class="infolink" data-bind="text: linkText, attr: {href: linkRef}"></a>
		        		</li>
		        	</ul>
		        </div>
		    </div>

		</div>
	</div>
	<!-- end selected info section -->

{% endblock %}


{% block scripts %}

	<script src="bower_components/jquery.js"></script>
	<script src="bower_components/knockout.js"></script>		
	<script src="js/app.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBz6Og92aUD75aW9vxng8igWUKrjCJXT-U&libraries=places&callback=initMap" async defer></script>

{% endblock %}
