{% extends "base.html" %}

{% block head %}

	{{ super() }}
	<meta name="google-site-verification" content="NTP3s5vk3p_XegMamJvIj1Bl0CGfOlZd0iZqr5_0wEE" />
	<title>WaterGem - Find the Closest Cheap and Clean Drinking Water</title>
	<link rel="stylesheet" href="stylesheets/home.css">

{% endblock %}


{% block pageContent %}

	<div class="outerdiv" id="headerdiv">
		<h1 id="headerlogo">WaterGem</h1>
		<p id="headerlogophrase">Find the nearest cheap and clean drinking water</p>
	</div>

	<!-- menu bar for user selections -->
	<div class="outerdiv" id="menubar">
		<div class="locationselect" id="countrydiv">
			<select id="countryselect" data-bind="options: optionCountries, optionsCaption: '-Select Country-', optionsText: 'name', value: selectedCountry"></select>
		</div>
		<div class="locationselect" id="citydiv">
			<select id="cityselect" data-bind="options: optionCities, optionsCaption: '-Select City-', optionsText: 'name', value: selectedCity"></select>
		</div>
		<div class="locationselect" id="neighborhooddiv">
			<select id="neighborhoodselect" data-bind="options: optionNeighborhoods, optionsCaption: '-Select Neighborhood-', optionsText: 'name', value: selectedNeighborhood"></select>
		</div>
	</div>
	<!-- end filtering/seletion -->

	<!-- list view to meet udacity requirements -->
	<div id="listviewdiv">
		<div id="listviewheader">

			<!-- ko if: selectedCity -->
				<!-- ko if: selectedLocationNumDisplayedGems() < 1 -->
				No gems found yet in <span data-bind="text: selectedLocationName"></span>
				<!-- /ko -->

				<!-- ko if: selectedLocationNumDisplayedGems() == 1 -->
				List containing the single gem in <span data-bind="text: selectedLocationName"></span>
				<!-- /ko -->

				<!-- ko if: selectedLocationNumDisplayedGems() > 1 -->
				List of all <span data-bind="text: selectedLocationNumDisplayedGems"></span> gems in <span data-bind="text: selectedLocationName"></span>
				<!-- /ko -->

				<!-- ko if: showingDirections -->
				<span>(filtered to just the gem with displayed directions)</span>
				<!-- /ko -->
			<!-- /ko -->

			<!-- ko ifnot: selectedCity -->
				No gems to display yet; make some more selections.
			<!-- /ko -->

		</div>
		<div id="listviewlist">
			<!-- ko if: selectedLocationNumDisplayedGems() > 0 -->
				<!-- ko foreach: displayedGemMarkers -->
					<!-- ko if: $data.isDisplayed -->
						<!-- perhaps it would be a bit easier to understand if the boolean above was 'isFiltered' instead of 'isDiplayed' and the if statement was 'if: !$data.isFiltered' -->
						<div class="listviewitem" data-bind="click: $root.clickGemFromListView">Gem <span data-bind="text: $index"></span></div>
					<!-- /ko -->
				<!-- /ko -->
			<!-- /ko -->
			<!-- ko if: selectedLocationNumDisplayedGems == 0 -->
				<div class="nonetodisplaymessage" id="nogemsmessage">
					This location has no gems.
				</div>			
			<!-- /ko -->
		</div>
	</div>
	<!-- end list view -->

	<!-- google map -->
	<div class="outerdiv" id="googlemapdiv">
    	<div id="googlemap">
    	</div>
		<div class="displaynone" id="googlemaploadinggif">
			<div class="maploadinggif" id="maploadinggif_01"></div>
			<div class="maploadinggif" id="maploadinggif_02"></div>
			<div class="maploadinggif" id="maploadinggif_03"></div>
			<div class="maploadinggif" id="maploadinggif_04"></div>
			<div class="maploadinggif" id="maploadinggif_05"></div>
			<div class="maploadinggif" id="maploadinggif_06"></div>
			<div class="maploadinggif" id="maploadinggif_07"></div>
			<div class="maploadinggif" id="maploadinggif_08"></div>
		</div>
	</div>
	<!-- end google map -->

	<div class="displaynone outerdiv" id="hidedirectionsdiv">
		<button id="hidedirectionsbutton" type="button" data-bind="click: toggleShowingDirections">Hide Directions</button>
	</div>
	<div class="outerdiv" id="yourlocationdiv">
		<button id="yourlocationbutton" type="button" data-bind="click: setCurrentGoogleMapLocation">Center map on my location</button>
	</div>

	<!-- info window section -->
	<div class="displaynone" id="geminfowindowselector">

		<div class="geminfowindow" data-bind="with: selectedGem">

			<span class="geminfowindowheader" data-bind="text: name"></span>

			<div class="geminfowindowtextdiv">
				<span>Area: <span data-bind="text: neighborhoodName"></span></span>
				<br>
	    		<!-- ko if: uv -->
				<span>Labeled UV</span>
				<br>
				<!-- /ko -->
				<!-- ko if: ozone -->
				<span>Labeled ozone</span>
				<br>
				<!-- /ko -->
				<!-- ko if: notes -->
				<span>Notes: <span data-bind="text: notes"></span></span>
				<!-- /ko -->
				<!-- ko if: !picture -->
				<span>No picture yet.</span>	
				<!-- /ko -->
				<button class="getdirectionsbutton" type="button">show walking path</button>
			</div>
			<div class="geminfowindowimgdiv">
	    		<!-- ko if: picture -->
				<img class="geminfowindowimg" data-bind="attr: {src: pictureSRC}" alt="[water station pic]">
				<!-- /ko -->		
			</div>

		</div>

	</div>

	<!-- selected info section -->
	<div id="infodiv">
		<div id="selectedlocationdiv">

			<span id="selectedlocationheader">Info for: <span class="selectedlocationname" data-bind="text: selectedLocationName"></span></span>

		    <div class="wikipediacontainer"> 
		        <div id="wikipediaheader">Wikipedia</div>
		        <div id="wikilinkscontainer">
		        	<div class="displaynone" id="wikiinfoloadinggif">
						<div class="infoloadinggif_1 infoloadinggif"></div>
						<div class="infoloadinggif_2 infoloadinggif"></div>
						<div class="infoloadinggif_3 infoloadinggif"></div>
						<div class="infoloadinggif_4 infoloadinggif"></div>
						<div class="infoloadinggif_5 infoloadinggif"></div>
						<div class="infoloadinggif_6 infoloadinggif"></div>
						<div class="infoloadinggif_7 infoloadinggif"></div>
						<div class="infoloadinggif_8 infoloadinggif"></div>
					</div>
					<!-- ko if: selectedLocationWikiInfo().length > 0 -->
		        	<ul id="wikipedialinks" data-bind="foreach: selectedLocationWikiInfo">
		        		<li class="wikipediali"><a class="infolink" data-bind="text: linkText, attr: {href: linkRef}"></a>
		        		</li>
		        	</ul>
		        	<!-- /ko -->
		        	<!-- ko if: selectedLocationWikiInfo().length < 1 -->
		        	<div class="noinfotoshow">
		        		Nothing to show.
		        	</div>
		        	<!-- /ko -->
		        </div>
		    </div>

		    <div class="nytimescontainer">
		        <div id="nytimesheader">New York Times</div>
		        <div id="nytimesarticlescontainer">
		        	<div class="displaynone" id="nytimesinfoloadinggif">
						<div class="infoloadinggif_1 infoloadinggif"></div>
						<div class="infoloadinggif_2 infoloadinggif"></div>
						<div class="infoloadinggif_3 infoloadinggif"></div>
						<div class="infoloadinggif_4 infoloadinggif"></div>
						<div class="infoloadinggif_5 infoloadinggif"></div>
						<div class="infoloadinggif_6 infoloadinggif"></div>
						<div class="infoloadinggif_7 infoloadinggif"></div>
						<div class="infoloadinggif_8 infoloadinggif"></div>
					</div>
					<!-- ko if: selectedLocationNYTimesInfo().length > 0 -->
		        	<ul id="nytimesarticles" data-bind="foreach: selectedLocationNYTimesInfo">
		        		<li class="nytimesli"><a class="infolink" data-bind="text: linkText, attr: {href: linkRef}"></a>
		        		</li>
		        	</ul>
		        	<!-- /ko -->
		        	<!-- ko if: selectedLocationNYTimesInfo().length < 1 -->
		        	<div class="noinfotoshow">
		        		Nothing to show.
		        	</div>
		        	<!-- /ko -->
		        </div>
		    </div>

		</div>
	</div>
	<!-- end selected info section -->

{% endblock %}


{% block scripts %}

	<script src="bower_components/jquery.js"></script>
	<script src="bower_components/knockout.js"></script>		
	<script src="js/app.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBz6Og92aUD75aW9vxng8igWUKrjCJXT-U&libraries=places&callback=initMap" async defer onerror=alertUserOfError("The Google Map failed to load, so you won't bee able to see locations of any gems."></script>

{% endblock %}
